*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.logo img{
    height:90px;
    margin-top: 10px;
    margin-left: -35vh;
}
.nav{
    display: flex;
    float: right;
    margin-top: -15px;
    margin-right: 10px;
    display: flex;
align-items: center;
justify-content: center;
padding: 8px;
position: sticky;
cursor: pointer;
}
.nav li{
    float:left;
    list-style-type: none;
    display: inline block;
    font-size: 22px;
    margin-top: 10px;
    margin-Left: 10PX;
    

}
.nav  li a{
    font-size: 18px;
    margin-top: -50px;
    text-decoration: none;
    color: black;
    text-align: center;
    margin-left: 10px;
    padding: 5px;
    font-family: cursive;
    text-shadow: 300px;
    position: sticky;
    
}
.back img{

    background-position: center;
    background-size: cover;
    height: 85vh;
    width: 100%;
}
.main{
    background-color: white;
    height: 100vh;
    width: 100%;
    position:sticky;
    cursor: pointer;
    top: 0;
    position: relative;
}
.nav li a:hover{
    color:rgb(244, 5, 5);

}
.btn{
   margin-left: 130px;
   padding: 7px;
   font-family: "roboto",sans-serif;
   text-transform: uppercase;
   border-radius: 5px;
   font-size: 18px;
   cursor: pointer;
   margin-top: 6px;
   box-shadow: 0 0 10px rgba(0,0,0,0.1);
   -webkit-transition-duration: 0.3s;
   font-weight: bold;
   width: 120px;
   text-decoration: none;
   color: white;
   background-color: #00FFFF ;
   border: none;
   


}
.btn:hover,.btn:focus,.btn:active{
    
    background-color: #39FF14;
box-shadow: 0 0 20px rgba(0,0,0,0.1);
-webkit-transform: scale(1.1);
}
.btn1{
    background-color:#1e90ff; 
    border: none;
    font-size: 18px;
    margin-left: 10px;
    font-family: "Roboto",sans-serif;
     font-weight: bold;
     width: 120px;
     padding: 7px;
     text-align: center;
     text-decoration: none;
     text-transform: uppercase;
     color: white;
     border-radius: 5px;
     cursor: pointer;
     box-shadow:0 0 10px rgba(0,0,0,0.1);
     

}
.btn1:hover, .btn:focus,.btn:active{
    background-color: palevioletred;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.1);
}
.btn2{
    border: none;

    font-size: 15px;
}
.btn2:hover{
    background-color: azure;
    border: none;
}
.search{
    border: 2px solid red;
    border-radius: 144px;
    padding: 10px;
}
.centerd{
    position: absolute;
    bottom: 8px;
    top: 40%;
    left: 50%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30PX;
    margin-left: -160px;

}
.nic{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    position: absolute;
    bottom: 8px;
    top: 50%;
    left: 35%;
}
.btn4{
    position: absolute;
    bottom: 8px;
    top: 65%;
    left: 48%;
    height: 30px;
    size: 25px;
    font-family: sans-serif;
    border-radius: 5px;
    width: 120px;
    padding: 2px;
    font-weight: bold;
    border: none;
    background-color: #ef86d3;
    box-shadow:0 0 10px rgba(0,0,0,0.1) ;
}
.btn4:hover,.btn4:focus,.btn4:active{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.1);
    color: #0c1504;
}
a:after{
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0;
    left:0;
    bottom:-10px
}
a:hover:after{
    width:100%;
}
.line{
    margin-top: -25px;
    align-items: center;
    justify-content: center;
    margin-left: 90px;
}


